<div class="form-group">
  <%= f.label :content, "Word", class: "control-label col-md-3" %>
  <div class="col-md-3">
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <%= f.fields_for :answers, Answer.new do |ans| %>
    <%= ans.label :content, "Answer", class: "control-label col-md-3" %>
    <div class="col-md-3">
      <%= ans.text_field :content, class: "form-control" %>
    </div>
  <% end %>
</div>