<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t ".panel_title" %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="row user-profile">
          <%= link_to image_tag(@user.avatar, size: "150x150"), @user %>
        </div>
        <div class="row user-profile">
          <%= @user.full_name %>
        </div>
        <div class="row user-profile">
          <%= render "shared/status" %>
          <%= render "shared/follow_form" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <% if current_user? @user %>
            <%= render "add_user_set" %>
          <% else %>
            <%= render "show_user_set" %>
          <% end %>
        </div>
      </div>
  </div>
</div>