<div class="vertical-container">

<h3><% @user ||= current_user %><h3>
<div>
  <button class="btn btn-primary" type="button">
    <%= link_to t(".total_words"), words_path, class: "btn btn-primary btn-md" %> 
    <%= @user.total_words_learned %> 
  </button>
</div>
<div> 
  <a href="<%= relationships_path @user, type: 'following' %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t ".following" %>
  </a>
</div>
<div>
  <a href="<%= relationships_path @user, type: 'followers' %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t ".followers" %>
  </a>
</div>

</div>


